@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: Outfit;
}
.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}

.button-wrapper {
  position: relative;
  display: inline-flex; /* works better with flex */
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  width: fit-content;
  z-index: 0; /* to keep border behind */
}

.button-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1; /* push behind content */
  border-radius: inherit;
  padding: 2px;

  background: linear-gradient(90deg, red, yellow, green, blue, red);
  background-size: 300% 100%;
  animation: rainbow-move 7s linear infinite;

  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@keyframes rainbow-move {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 300% 0%;
  }
}

@media (max-width: 740px) {
  .active p {
    @apply text-white bg-[#5f6fff];
  }
}
